<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js" defer></script>
</head>
<body data-barba="wrapper">

        <main data-barba="container">
        <header>
            <h1 class="text-3xl bg-blue-200">{{ title }}</h1>
        </header>
            {{ content | safe }}
        </main>
</body>
</html>